<div class="body-wrapper">
        <section>
            <div class="data-wrapper">
    <ul class="filtered-student" *ngFor="let student of students">               
                    <li>
                        <span class="name">{{student.familyName[0]}}, {{student.givenName[0]}}</span>
                        <span class="dob">DOB: <span class="value">{{student.dob[0]}}</span></span>
                        <span class="admit-date">Admitted: <span class="value">{{student.admitDate[0]}}</span></span>
                        <span class="grad-date">Anticipated Graduation: <span class="value">{{student.anticipatedGraduationDate[0]}}</span></span>
                        <span class="mentor">Mentor: <span class="value">{{student.mentor[0]}}</span></span>
                    </li>     
                    <li>
                        <span class="name">{{student.familyName[1]}}, {{student.givenName[1]}}</span>
                        <span class="dob">DOB: <span class="value">{{student.dob[1]}}</span></span>
                        <span class="admit-date">Admitted: <span class="value">{{student.admitDate[1]}}</span></span>
                        <span class="grad-date">Anticipated Graduation: <span class="value">{{student.anticipatedGraduationDate[1]}}</span></span>
                        <span class="mentor">Mentor: <span class="value">{{student.mentor[1]}}</span></span>
                    </li>   
                    <li>
                        <span class="name">{{student.familyName[2]}}, {{student.givenName[2]}}</span>
                        <span class="dob">DOB: <span class="value">{{student.dob[2]}}</span></span>
                        <span class="admit-date">Admitted: <span class="value">{{student.admitDate[2]}}</span></span>
                        <span class="grad-date">Anticipated Graduation: <span class="value">{{student.anticipatedGraduationDate[2]}}</span></span>
                        <span class="mentor">Mentor: <span class="value">{{student.mentor[2]}}</span></span>
                    </li>   
                    <li>
                        <span class="name">{{student.familyName[3]}}, {{student.givenName[3]}}</span>
                        <span class="dob">DOB: <span class="value">{{student.dob[3]}}</span></span>
                        <span class="admit-date">Admitted: <span class="value">{{student.admitDate[3]}}</span></span>
                        <span class="grad-date">Anticipated Graduation: <span class="value">{{student.anticipatedGraduationDate[3]}}</span></span>
                        <span class="mentor">Mentor: <span class="value">{{student.mentor[3]}}</span></span>
                    </li>   
                    <li>
                        <span class="name">{{student.familyName[4]}}, {{student.givenName[4]}}</span>
                        <span class="dob">DOB: <span class="value">{{student.dob[4]}}</span></span>
                        <span class="admit-date">Admitted: <span class="value">{{student.admitDate[4]}}</span></span>
                        <span class="grad-date">Anticipated Graduation: <span class="value">{{student.anticipatedGraduationDate[4]}}</span></span>
                        <span class="mentor">Mentor: <span class="value">{{student.mentor[4]}}</span></span>
                    </li>   
                    <li>
                        <span class="name">{{student.familyName[5]}}, {{student.givenName[5]}}</span>
                        <span class="dob">DOB: <span class="value">{{student.dob[5]}}</span></span>
                        <span class="admit-date">Admitted: <span class="value">{{student.admitDate[5]}}</span></span>
                        <span class="grad-date">Anticipated Graduation: <span class="value">{{student.anticipatedGraduationDate[5]}}</span></span>
                        <span class="mentor">Mentor: <span class="value">{{student.mentor[5]}}</span></span>
                    </li>   
                    <li>
                        <span class="name">{{student.familyName[6]}}, {{student.givenName[6]}}</span>
                        <span class="dob">DOB: <span class="value">{{student.dob[6]}}</span></span>
                        <span class="admit-date">Admitted: <span class="value">{{student.admitDate[6]}}</span></span>
                        <span class="grad-date">Anticipated Graduation: <span class="value">{{student.anticipatedGraduationDate[6]}}</span></span>
                        <span class="mentor">Mentor: <span class="value">{{student.mentor[6]}}</span></span>
                    </li>   
                    <li>
                        <span class="name">{{student.familyName[7]}}, {{student.givenName[7]}}</span>
                        <span class="dob">DOB: <span class="value">{{student.dob[7]}}</span></span>
                        <span class="admit-date">Admitted: <span class="value">{{student.admitDate[7]}}</span></span>
                        <span class="grad-date">Anticipated Graduation: <span class="value">{{student.anticipatedGraduationDate[7]}}</span></span>
                        <span class="mentor">Mentor: <span class="value">{{student.mentor[7]}}</span></span>
                    </li>   
                    <li>
                        <span class="name">{{student.familyName[8]}}, {{student.givenName[8]}}</span>
                        <span class="dob">DOB: <span class="value">{{student.dob[8]}}</span></span>
                        <span class="admit-date">Admitted: <span class="value">{{student.admitDate[8]}}</span></span>
                        <span class="grad-date">Anticipated Graduation: <span class="value">{{student.anticipatedGraduationDate[8]}}</span></span>
                        <span class="mentor">Mentor: <span class="value">{{student.mentor[8]}}</span></span>
                    </li> 
                    <li>
                        <span class="name">{{student.familyName[9]}}, {{student.givenName[9]}}</span>
                        <span class="dob">DOB: <span class="value">{{student.dob[9]}}</span></span>
                        <span class="admit-date">Admitted: <span class="value">{{student.admitDate[9]}}</span></span>
                        <span class="grad-date">Anticipated Graduation: <span class="value">{{student.anticipatedGraduationDate[9]}}</span></span>
                        <span class="mentor">Mentor: <span class="value">{{student.mentor[9]}}</span></span>
                    </li> 
                    <li>
                        <span class="name">{{student.familyName[10]}}, {{student.givenName[10]}}</span>
                        <span class="dob">DOB: <span class="value">{{student.dob[10]}}</span></span>
                        <span class="admit-date">Admitted: <span class="value">{{student.admitDate[10]}}</span></span>
                        <span class="grad-date">Anticipated Graduation: <span class="value">{{student.anticipatedGraduationDate[10]}}</span></span>
                        <span class="mentor">Mentor: <span class="value">{{student.mentor[10]}}</span></span>
                    </li> 
                    <li>
                        <span class="name">{{student.familyName[11]}}, {{student.givenName[11]}}</span>
                        <span class="dob">DOB: <span class="value">{{student.dob[11]}}</span></span>
                        <span class="admit-date">Admitted: <span class="value">{{student.admitDate[11]}}</span></span>
                        <span class="grad-date">Anticipated Graduation: <span class="value">{{student.anticipatedGraduationDate[11]}}</span></span>
                        <span class="mentor">Mentor: <span class="value">{{student.mentor[11]}}</span></span>
                    </li> 
                </ul>

                <!-- <ul class="filtered-student">
                    <li>
                        <span class="name">Ruiz, Jackie</span>
                        <span class="dob">DOB: <span class="value">1990-07-08</span></span>
                        <span class="admit-date">Admitted: <span class="value">2016-05-04 13:24:17-0500</span></span>
                        <span class="grad-date">Anticipated Graduation: <span class="value">2018-05-03</span></span>
                        <span class="mentor">Mentor: <span class="value">Dusty, Aaron</span></span>
                    </li>
                    <li>
                        <span class="name">Burns, Marilyn</span>
                        <span class="dob">DOB: <span class="value">1993-10-15</span></span>
                        <span class="admit-date">Admitted: <span class="value">2016-05-04 13:24:17-0500</span></span>
                        <span class="grad-date">Anticipated Graduation: <span class="value">2018-05-03</span></span>
                        <span class="mentor">Mentor: <span class="value">Jefferson, Dusty</span></span>
                    </li>
                    <li>
                        <span class="name">Battle, Blake</span>
                        <span class="dob">DOB: <span class="value">1984-07-23</span></span>
                        <span class="admit-date">Admitted: <span class="value">2016-05-04 13:24:17-0500</span></span>
                        <span class="grad-date">Anticipated Graduation: <span class="value">2018-05-03</span></span>
                        <span class="mentor">Mentor: <span class="value">Jefferson, Dusty</span></span>
                    </li>
                    <li>
                        <span class="name">Ruiz, Jackie</span>
                        <span class="dob">DOB: <span class="value">07/08/1990</span></span>
                        <span class="admit-date">Admitted: <span class="value">May 04, 2016</span></span>
                        <span class="grad-date">Anticipated Graduation: <span class="value">May 2018</span></span>
                        <span class="mentor">Mentor: <span class="value">Conway, Aaron</span></span>
                    </li>
                    <li>
                        <span class="name">Hahn, Derrick</span>
                        <span class="dob">DOB: <span class="value">1991-11-21</span></span>
                        <span class="admit-date">Admitted: <span class="value">2016-11-04 13:24:17-0500</span></span>
                        <span class="grad-date">Anticipated Graduation: <span class="value">2018-11-03</span></span>
                        <span class="mentor">Mentor: <span class="value">McMahon, Trent</span></span>
                    </li>
                    <li>
                        <span class="name">Collins, Nancy</span>
                        <span class="dob">DOB: <span class="value">1993-10-15</span></span>
                        <span class="admit-date">Admitted: <span class="value">2016-05-04 13:24:17-0500</span></span>
                        <span class="grad-date">Anticipated Graduation: <span class="value">2018-05-03</span></span>
                        <span class="mentor">Mentor: <span class="value">Jefferson, Dusty</span></span>
                    </li>
                    <li>
                        <span class="name">Avila, Krista</span>
                        <span class="dob">DOB: <span class="value">1993-10-15</span></span>
                        <span class="admit-date">Admitted: <span class="value">2016-05-04 13:24:17-0500</span></span>
                        <span class="grad-date">Anticipated Graduation: <span class="value">2018-05-03</span></span>
                        <span class="mentor">Mentor: <span class="value">Harding, Sue</span></span>
                    </li>
                    <li>
                        <span class="name">Leonard, Crystal</span>
                        <span class="dob">DOB: <span class="value">1984-07-23</span></span>
                        <span class="admit-date">Admitted: <span class="value">2016-05-04 13:24:17-0500</span></span>
                        <span class="grad-date">Anticipated Graduation: <span class="value">2018-05-03</span></span>
                        <span class="mentor">Mentor: <span class="value">Harding, Sue</span></span>
                    </li>
                    <li>
                        <span class="name">Horn, Tia</span>
                        <span class="dob">DOB: <span class="value">1984-07-23</span></span>
                        <span class="admit-date">Admitted: <span class="value">2016-05-04 13:24:17-0500</span></span>
                        <span class="grad-date">Anticipated Graduation: <span class="value">018-05-03</span></span>
                        <span class="mentor">Mentor: <span class="value">Ballard, Kaylee</span></span>
                    </li>
                    <li>
                        <span class="name">Burch, Kathleen</span>
                        <span class="dob">DOB: <span class="value">1984-07-23</span></span>
                        <span class="admit-date">Admitted: <span class="value">2016-05-04 13:24:17-0500</span></span>
                        <span class="grad-date">Anticipated Graduation: <span class="value">018-05-03</span></span>
                        <span class="mentor">Mentor: <span class="value">McConnell, Cindy</span></span>
                    </li>
                    <li>
                        <span class="name">O'neill, Mitchell</span>
                        <span class="dob">DOB: <span class="value">1984-07-23</span></span>
                        <span class="admit-date">Admitted: <span class="value">2016-05-04 13:24:17-0500</span></span>
                        <span class="grad-date">Anticipated Graduation: <span class="value">018-05-03</span></span>
                        <span class="mentor">Mentor: <span class="value">McLeod, Rex</span></span>
                    </li>
                    <li>
                        <span class="name">Hammond, William</span>
                        <span class="dob">DOB: <span class="value">1984-07-23</span></span>
                        <span class="admit-date">Admitted: <span class="value">2016-05-04 13:24:17-0500</span></span>
                        <span class="grad-date">Anticipated Graduation: <span class="value">018-05-03</span></span>
                        <span class="mentor">Mentor: <span class="value">Meyer, Sam</span></span>
                    </li>
                </ul> -->

            </div>


        
        </section>
    </div>

